<h1>Envelope: <%= @envelope.slug %> </h1>
<h1>Creator: <%= @envelope.user.name %> </h1>
<h1>Expires: <%= @envelope.expiration.strftime("%a, %b %-d, %Y, %I:%M %p") %></h1>
<%= form_tag "" do %>
  <%= label_tag :password %>
  <%= password_field_tag :password, nil, placeholder: "Create Password" %><br>
  <%= submit_tag ("Assign Password"), class: "btn btn-default" %>
<% end %>
<h1>Parchments: </h1>
<% @parchments.each do |parchment| %>
<h2> <%= link_to parchment[:file], parchment.file.url
 %> </h2>
<% end %>

<% if @envelope.user == current_user %>
  <%= render partial: '/parchments/upload_form', locals: {envelope: @envelope} %>
<% end %>



